.git
.gitignore
.github
.vs
.vscode

**/bin
**/obj
**/TestResults

artifacts
publish
logs
*.log

web/node_modules
web/dist
web/build

ocr-service/__pycache__
ocr-service/log.txt
ocr-service/models

minio/data
tmp_hash
